div{
    width: 200px ;
    height: 200px ;
    margin: 200px;
    background-color:rgb(8, 63, 8) ;
    transform:translate(100px,30px);
    transform:skew(20deg,30deg) ;
    color: white;
}

